@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

html {
	padding:0px 0px;
	height:100%;
}
body {
	background: linear-gradient(#FFFDFE, #FFF6FA);
	width: 100%;
	height: 100%;
	margin: 0 auto;
	/*background-color: white;*/
	padding-top: 20px;
	padding-left: 60px;
	padding-right: 60px;
	box-sizing:border-box;
}

header {
	width: 100%;
	/*margin-bottom: 20px;*/
}
/* cs.jsp */
#cs {
	display: flex;
	flex-direction: row;
}

.sub-menu {
	width: 20%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #D8CDD2;
}

.sub-menu a {
	width: block;
	height: 45px;
	background-color: #CFE9E7;
	text-decoration : none;
	color: #1E8A8A;
	display: flex;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	align-items: center;
	padding-left: 15px;
	text-decoration: none;
	border-bottom: 1px solid #1E8A8A;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 10px;
}

.selectedSubmenu {
	width: block;
	height: 45px;
	background-color: #1E8A8A !important;
	text-decoration: none;
	color: white !important;
	display: flex;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	align-items: center;
	padding-left: 15px;
	border-bottom: 1px solid #1E8A8A;
}

.sub-menu a:hover {
	background-color: #1E8A8A;
	color: white;
}

.cs-main-content {
	width: 80%;
	padding: 20px 40px;
	margin-left: 50px;
}

.cs-main-content h3 {
	color: #333;
	font-size: 1.8em;
	margin-top: 0;
	border-bottom: 2px solid #1E8A8A;
	padding-bottom: 10px;
}

.cs-main-content p {
	color: #555;
	line-height: 1.6;
	margin-bottom: 20px;
}

.contact-info {
	background-color: #FAF7F9;
	padding: 15px;
	border-radius: 8px;
	border: 1px solid #D8CDD2;
}