@charset "UTF-8";

/*index.jsp*/

#miniProfile {
	width: 30px;
	height: 30px;	
	border-radius: 50%;
	flex-shrink: 0;
	vertical-align: middle;
	object-fit: cover; 
}

#leLogo2 {
	display: block;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 50px;
	width: 700px;
	height: auto;
}

.indexMenu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.indexMenu a {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
	font-weight: 500;
	background-color: white;
	box-shadow: 0 6px 15px rgba(0,0,0,0.05);
	color:rgb(109, 16, 68);
	border: 2px solid rgb(109, 16, 68);
	border-radius: 13px;
	width: 200px !important;
	height: 200px !important;
	margin: 10px 30px;
	margin-bottom: 110px;
}

.indexMenu a:hover {
	transform: translateY(-4px); /*위로 뜨기*/
	box-shadow:3px 3px 5px #888888;
	background-color: rgb(109, 16, 68);
	color: white;
	border-color: rgb(109, 16, 68);
	transition:0.15s; /*붕 뜨는 애니메이션*/
	cursor: pointer;
}

.indexMenu a:hover img {
	filter: brightness(0) invert(1);
}

.indexMenu img {
	align-self: center;
	margin-bottom: 15px;
	width: 100px;
	height: 100px;
}

.titleLogo {
	display: flex;
	justify-content: center;
  	align-items: center;
	margin: 0 auto;
	
}

.titleLogo img {
	width:120px;
	height: 120px;
}