@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

html {
	padding:0px 0px;
	height:100%;
}
body {
	background: linear-gradient(#FFFDFE, #FFF6FA);
	width: 100%;
	height: 100%;
	margin: 0 auto;
	/*background-color: white;*/
	padding-top: 20px;
	padding-left: 60px;
	padding-right: 60px;
	box-sizing:border-box;
}

header {
	width: 100%;
	/*margin-bottom: 20px;*/
}

/*index.jsp*/

#miniProfile {
	width: 30px;
	height: 30px;	
	border-radius: 50%;
	flex-shrink: 0;
	vertical-align: middle;
	object-fit: cover; 
}

#leLogo2 {
	display: block;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 50px;
	width: 700px;
	height: auto;
}

.indexMenu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.indexMenu a {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
	font-weight: 500;
	background-color: white;
	box-shadow: 0 6px 15px rgba(0,0,0,0.05);
	color:rgb(109, 16, 68);
	border: 2px solid rgb(109, 16, 68);
	border-radius: 13px;
	width: 200px !important;
	height: 200px !important;
	margin: 10px 30px;
	margin-bottom: 110px;
}

.indexMenu a:hover {
	transform: translateY(-4px); /*위로 뜨기*/
	box-shadow:3px 3px 5px #888888;
	background-color: rgb(109, 16, 68);
	color: white;
	border-color: rgb(109, 16, 68);
	transition:0.15s; /*붕 뜨는 애니메이션*/
	cursor: pointer;
}

.indexMenu a:hover img {
	filter: brightness(0) invert(1);
}

.indexMenu img {
	align-self: center;
	margin-bottom: 15px;
	width: 100px;
	height: 100px;
}

.titleLogo {
	display: flex;
	justify-content: center;
  	align-items: center;
	margin: 0 auto;
	
}

.titleLogo img {
	width:120px;
	height: 120px;
}

/* header.jsp */

header h1 {
	color: rgb(109, 16, 68);
	font-size: 80px;
	font-weight: 500;
	font-family: "Alex Brush", cursive;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

header div {
	display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px; 
	font-size: 15px;
	color: gray;
	line-height: 30px;
}

header nav {
	height: 40px;
	border-bottom: 2px solid rgb(109, 16, 68);
}

header nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-inline-start: 0px;
	height: 100%;
	gap: 10px;
}

header nav li {
	list-style-type: none;
	align-items: center;
	width: 100%;
	text-align:center;
	height: 100%;
	font-size: 18px;
}
header nav ul li a{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
  	justify-content: center;
  	background-color: #EFD79B;
  	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
header nav ul li a:hover{
	background-color: rgb(109, 16, 68);
	color: white !important;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-size: 22px;
  	box-shadow: 3px -3px 5px #D8CDD2;
}
.selectedPage a {
	background-color: rgb(109, 16, 68);
	color: white !important;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-size: 22px;
  	box-shadow: 3px -3px 7px #D8CDD2;
}

header a {
	text-decoration: none;
	color: gray;
}

header div a {
	height: 30px;
}

header nav a {
	color: rgb(109, 16, 68);
	font-weight: 500;
}

/*makeAccount.jsp*/

#makeAccount form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#makeAccount h1 {
	text-align: center;
	color: rgb(109, 16, 68);
	font-size: 29px;
	
}

#makeAccount div {
	text-align: center;
	margin-bottom: 40px;
}

#makeAccount div img {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

#makeAccount img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

#makeAccount table {
	margin: 6px auto;
	background-color: white;
	border: 1px solid #AEAEAE;
	border-radius: 15px;
	width: 350px;
}

#makeAccount table td {
	border-bottom: 1px solid #AEAEAE;
	height: 50px;
	padding: 0 15px;               /* 왼오 여백만 */
    display: flex;                 /* 한 줄을 flex 컨테이너로 */
    align-items: center;
}

#makeAccount table tr:last-child td {
	border-bottom: none;
}

#makeAccount td input[type="text"], #makeAccount input[type="password"] {
	border: 0px solid #AEAEAE;
	font-size: 16px;
	flex: 1;
	padding: 0;
    background: transparent;
}

#makeAccount td input[type="text"],input[type="password"]:focus {
	outline: none;
}

#makeAccount input[type="date"] {
	font-family:sans-serif;
	font-size: 16px;
	margin-left: 8px;
	width: 180px;
	border: 1px solid #AEAEAE;
	border-radius: 12px;
	padding-left: 10px;
	padding-right: 10px;
}
#makeAccount input[type="radio"] {
	accent-color: #1E8A8A;
	margin-left: 35px;
}


#makeAccount input[type="submit"] {
	background-color: rgb(109, 16, 68);
	color: white;
	border: 0px;
	border-radius: 13px;
	width: 100px;
	height: 40px;
	font-size: 16px;
	cursor: pointer;
}

#makeAccount input[type="button"] {
	background-color: #E3E3E3;
	color: black;
	border: 0px;
	border-radius: 13px;
	width: 100px;
	height: 40px;
	font-size: 16px;
	cursor: pointer;
}

#makeAccount #checkbtn {
	flex-shrink: 0;
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-left: 0px  !important;
	padding-right: 0px  !important;
	font-size: 15px;
	width: 90px;
	height: 35px;
	background-color: #1E8A8A;
	color: white;
}

.makeAccountBtns {
	margin-top: 20px;
}

/*logIn.jsp*/
#loginDiv {
	display:flex;
	flex-direction: column;
	justify-content: center;
	border:1px solid #6D1044 !important;
	border-radius: 13px !important;
	width:90%;
	height:90%;
	background-color: #FAF7F9;
}

#loginTable {
	margin: 6px auto;
	background-color: white;
	border: 1px solid #AEAEAE;
	border-radius: 15px;
	width: 90%;
}

#loginTable td {
	border-bottom: 1px solid #AEAEAE;
	height: 50px;
	padding: 0 15px;               /* 왼오 여백만 */
    display: flex;                 /* 한 줄을 flex 컨테이너로 */
    align-items: center;
}

#loginTable tr:last-child td {
	border-bottom: none;
}

#loginDiv input[type="submit"] {
	display:block;
	margin: 0 auto;
	width:90%;
	height: 50px;
	background-color: rgb(109, 16, 68);
	color: white;
	cursor: pointer;
	border: 0px;
	border-radius: 15px;
	font-size: 17px;
	margin-bottom: 20px;
}

#loginDiv td input[type="text"], #loginDiv input[type="password"] {
	border: 0px solid #AEAEAE;
	font-size: 16px;
	flex: 1;
	padding: 0;
    background: transparent;
}

#loginDiv input[type="text"],input[type="password"]:focus {
	outline: none;
}

#loginDiv input[type="checkbox"] {
	margin-left: 30px;
	margin-bottom: 25px;
	accent-color: #1E8A8A;
}

/*myPage.jsp*/
#myPage h2 {
	text-align: center;
	margin: 40px 0px;
}

#myPage #profileImg { 
	width: 150px; 
	height: 150px; 
	border-radius: 50%; 
	object-fit: cover; 
}
    
  
#myPage .profile-layout {
	display: flex; 
	align-items: flex-start;
	justify-content: center; 
	width: 800px; 
	margin: 0 auto;
	margin-bottom: 40px;
}
    
   
#myPage table { 
    margin-left: 20px;
    background-color: white;
    width: 350px;

    border: 1px solid #AEAEAE;   /* 바깥 테두리 */
    border-radius: 15px;
}

#myPage td {
	border: none;
}
#myPage th,
#myPage td { 
    padding: 10px; 
    border-bottom: 1px solid #AEAEAE;   /* 행 사이 선 */
}

#myPage tr:last-child th,
#myPage tr:last-child td {
    border-bottom: none;         /* 마지막 행 아래는 내부선 제거 */
}

#myPage th {
    width: 30%; 
    border-right: 1px solid #AEAEAE;    /* 가운데 세로선 */
}
 
#myPage .action-buttons { 
	text-align: center; 
	width: 800px; 
	margin: 10px auto;
}

#myPage .action-buttons button {
	background-color: rgb(109, 16, 68);
	color: white;
	border: 0px;
	border-radius: 13px;
	width: 100px;
	height: 40px;
	font-size: 16px;
	cursor: pointer;
}

/*myPageEdit.jsp*/
#myPageEdit h2 {
	text-align: center;
	margin: 40px 0px;
}

#editDiv {
	display: flex;
	flex-direction: row;
	align-items:flex-start;
	justify-content: center;
	gap: 0;
}

#editProfile {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#myPageEdit #profileImg {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
}
#myPageEdit table { 
    background-color: white;
    width: 500px;

    border: 1px solid #AEAEAE;
    border-radius: 15px;
}

#myPageEdit th, #myPageEdit td {
	padding: 10px; 
    border-bottom: 1px solid #AEAEAE;
}

#myPageEdit th {
	width: 150px;
	text-align: right;
}

#myPageEdit tr:last-child th,
#myPageEdit tr:last-child td {
    border-bottom: none;
}

#myPageEdit input[type="submit"], #myPageEdit input[type="button"] {
	background-color: rgb(109, 16, 68);
	color: white;
	border: 0px;
	border-radius: 13px;
	width: 100px;
	height: 40px;
	font-size: 16px;
	cursor: pointer;
}

#editBtnDiv {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

/**/

main {
	box-sizing: border-box;
	width: 100%;
	padding: 30px 40px;
	background-color: white;
	border: 2px solid #6D1044;
	border-top: 0px;
}

section {
	width: 100%;
}

footer {
	display: block;
	margin-top: auto;
	padding-bottom: 20px;
	width: 100%;
	clear: both;
	
}

.footerLogo {
	display:flex;
	justify-content: center;
	align-items: center;
	font-family: "Alex Brush", cursive;
	font-size: 40px;
	color: rgb(147,127,113);
	margin: 0 0;
}
footer img {
	width: 60px;
	height: 60px;
}

footer div {
	text-align: center;
	color: gray;
	font-size: 12px;
}


/*public.jsp*/
#public {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

#publicListArea {
	display: flex;
	flex-direction: column;
	width: 60%;
	
	border-right: 1px solid #D8CDD2;
	justify-content: center;
	
}

#publicListArea div {
	overflow-y: auto;
	margin-right: 20px;
	height: 410px;
	background-color: #FAF7F9;
	border: 1px solid #D8CDD2;
	border-radius: 30px;
	padding: 20px 0;
	scrollbar-width: none;
}

#publicListArea h1 {
	text-align: center;
}

#publicListArea ul {
	margin: 0;
	padding-left: 0px;
	display: flex;
	flex-direction: column;
	gap:15px;
}

.publicListUnit {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	width: 80%;
	height: 50px;
	border: 2px solid #1E8A8A;
	border-radius: 20px;
	background-color: #CFE9E7;
	list-style-type: none;
	margin: 0 auto;
	
}
.publicListUnit:hover {
	display: block;
	border-width: 2px;                 /* ✅ 두께 고정 */
  	border-color: #7E4746;             /* 기본색 유지하거나 */
  	outline: 2px solid #7E4746;        /* ✅ 굵은 테두리처럼 보이게 */
  	outline-offset: 0;  
	background-color: #FAF7F4;
	box-shadow: 3px 3px 5px #888888;
}
.publicListUnit_selected {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	width: 80%;
	height: 50px;
	border: 4px solid #7E4746;
	border-radius: 20px;
	background-color: #FAF7F4;
	list-style-type: none;
	margin: 0 auto;
	box-shadow: 3px 3px 5px #888888;
}
.publicListUnit_selected a {
	display: flex;
  	align-items: center;
	width: 100%;
	height: 100%;
	color: #7E4746;
	font-size: 19px;
	text-decoration: none;
	font-weight: 500;
}

.publicListUnit a {
	display: flex;
  	align-items: center;
	width: 100%;
	height: 100%;
	color: black;
	font-size: 19px;
	text-decoration: none;
}

.publicListUnit a:hover {
	color: #7E4746;
	font-weight: 500;

}

#emptyLists {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: 0px !important;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size:18px;
}

.publicListCommentUnit {
	display: list-item;
	flex-direction: column;
}

#profile_id_time {
	display: flex;
}

#commentArea {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	width: 40%;
	height: 540px;
	background-color: white;
	border: 1px solid #D8CDD2;
	border-radius: 15px;
	margin-left: 20px;
}



#commentArea ul {
	display: flex;
	flex-direction: column;
  	margin: 0;
  	margin-left: 15px;
  	margin-right: 15px;
  	padding-left: 0;
  	gap: 15px;
}



#publicListCommentUnit {
  	list-style: none !important;
  	position: relative;
  	padding-left: 28px;
  	border-bottom: 1px solid #D8CDD2;
}

#commentArea ul li:last-child {
	border-bottom: 0px;
}

#commentArea ul li:first-child {
	margin-top: 15px;
}

#publicListCommentUnit::before {
	content: "";
	position: absolute;
	left: 6px;
	top: 10px;
	transform: translateY(-50%);
	width: 17px;
	height: 17px;
	background: url("/codeEffluve/img/arrow.png") no-repeat center;
	background-size: contain;
}

#commentProfile {
	width: 40px;
	height: 40px;	
	border-radius: 50%;
	flex-shrink: 0;
	vertical-align: middle;
	object-fit: cover;
	margin-right: 10px; 
	margin-left: 5px;
}

#profile_id_time {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#commentArea h2 {
	flex: 0 0 60px;
	margin: 0px;
	background-color: #FAF7F9;
	padding-left: 20px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #D8CDD2;
}

#commentId {
	font-weight: 500;
	font-size: 15px;
	align-self: flex-start;
}

#commentTime{
	color: #888888;
	font-size: 13px;
}

#commentMessage{
	display: block;
	margin-left: 54px;
	padding-top: 4px;
	padding-bottom: 10px;
	font-size: 17px;
	
	white-space: normal;
  	overflow-wrap: anywhere;
}

.writeComment {
	background-color: #FAF7F9;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 0px -3px 15px #E7E1E4;
	/*border-top: 1px solid #D8CDD2;*/
	margin-bottom: 0px;
	margin-top: auto; 	
	padding: 10px 10px;
}

#commentList {
	overflow-y: auto;
	scrollbar-width: none;
}
.writeComment form  {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.writeComment form span {
	display: flex;
	box-sizing: border-box;
	width: 50px;
	padding-right: 0px;
	color: #1E8A8A;
	font-weight: 600;
	font-size: 17px;
	padding-bottom: 2px;
	text-align: right;
}

.writeComment input[type="text"] {
	display: flex;
	box-sizing: border-box;
	border: 1px solid #1E8A8A;
	border-radius: 5px;
	width: 75%;
	height: 35px;
	font-size: 17px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow-y: auto;
	scrollbar-width: none;
}

.writeComment input[type="text"]:focus {
	outline: none;
}

.writeComment input[type="submit"] {
	display: flex;
	box-sizing: border-box;
	border: 1px solid #1E8A8A;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #1E8A8A;
	color: white;
	width: 60px;
	height: 35px;
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	cursor: pointer;
}

/*********************************************/
/* cs.jsp */
#cs {
	display: flex;
	flex-direction: row;
}

.sub-menu {
	width: 20%;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #D8CDD2;
}

.sub-menu a {
	width: block;
	height: 45px;
	background-color: #CFE9E7;
	text-decoration : none;
	color: #1E8A8A;
	display: flex;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	align-items: center;
	padding-left: 15px;
	text-decoration: none;
	border-bottom: 1px solid #1E8A8A;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 10px;
}

.selectedSubmenu {
	width: block;
	height: 45px;
	background-color: #1E8A8A !important;
	text-decoration: none;
	color: white !important;
	display: flex;
	font-weight: 600;
	font-size: 18px;
	text-align: center;
	align-items: center;
	padding-left: 15px;
	border-bottom: 1px solid #1E8A8A;
}

.sub-menu a:hover {
	background-color: #1E8A8A;
	color: white;
}

.cs-main-content {
	width: 80%;
	padding: 20px 40px;
	margin-left: 50px;
}

.cs-main-content h3 {
	color: #333;
	font-size: 1.8em;
	margin-top: 0;
	border-bottom: 2px solid #1E8A8A;
	padding-bottom: 10px;
}

.cs-main-content p {
	color: #555;
	line-height: 1.6;
	margin-bottom: 20px;
}

.contact-info {
	background-color: #FAF7F9;
	padding: 15px;
	border-radius: 8px;
	border: 1px solid #D8CDD2;
}

/* csProblem.jsp */
.problem-form-container {
	display: flex;
	flex-direction: row;
}

.problem-form-container table {
	width: 100%;
}

.cs-main-content table {
	border: 1px solid #D8CDD2;
	border-radius: 15px;
	border-spacing: 0px;
	overflow: hidden;
}

.cs-main-content table th {
	background-color: #FAF7F9;
	border-bottom: 1px solid #D8CDD2;
	border-right: 1px solid #D8CDD2;
}

.cs-main-content table input[type="text"] {
	width: 100%;
	height: 100%;
	text-align: left;
	border: 0px;
	font-size: 15px;
}
.cs-main-content table td {
	padding: 10px; 
    border-bottom: 1px solid #D8CDD2;
}

.cs-main-content table tr:last-child td, .cs-main-content table tr:last-child th {
	border-bottom: 0px;
}


.cs-main-content table input[type="text"]:focus, .cs-main-content table textarea:focus {
	outline: none;
}

.problem-form-container select {
	width: 100%;
	padding: 8px;
	border: 1px solid #D8CDD2;
	border-radius: 6px;
	box-sizing: border-box;
	font-size: 15px;
}

.cs-main-content table textarea {
	width: 100%;
	height: 150px;
	font-family: sans-serif;
	font-size: 15px;
	resize: none;
	border: 0px;
}

.submit-area button[type="submit"] {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1E8A8A;
	color: white;
	cursor: pointer;
	width: 100px;
	height: 45px;
	border: 0px;
	border-radius: 13px;
	font-size: 16px;
	margin: 20px auto;
	padding-top: 0px !important;
}

/* csQA.jsp */
.csQA {
	display: flex;
	flex-direction: row;
}

.qa-container {
	width: 80%;
}

.faq-item {
	margin-bottom: 10px;
	border: 1px solid #D8CDD2;
	border-radius: 5px;
	overflow: hidden;
}

.question {
	background-color: #FAF7F9;
	cursor: pointer;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.3s;
}

.question span {
	margin: 15px;
}

.question:hover {
	background-color: #FAF7F9;
}

.answer {
	background-color: white;
	color: black; 
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}

.answer p {	
	padding: 15px 15px;
	border-top: 1px solid #D8CDD2;
	margin: 0px;
}

.toggle-icon {
	font-size: 1.2em;
}

.faq-item.active .answer {
	max-height: 200px;
}

/* private.jsp */


/* group. jsp */
#groupPage {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.groupMain {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 20px;
}

.groupMain ul {
	display: flex;
	flex-direction: column;
	padding-inline-start: 0px !important;
	margin-top: 0px; margin-bottom: 0px;
	margin-left: 15px;
	gap: 5px;
}
.groupMain li {
	list-style: none;
}
#groupPage .dateHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#groupPage .dateHeader a {
	text-decoration: none;
	color: #6D1044;
}

#groupPage input[type="date"] {
	width: 140px; height: 30px;
	font-size: 15px;
	border: 1px solid #6D1044;
	border-radius: 10px;
	font-family: sans-serif;
	padding-left: 10px;
}
#groupPage .groupSchedule {
	width: 60%;
	background-color: #FAF7F9;
	padding: 20px;
}

#groupPage .groupProfileArea {
	width: 40%;
}

#groupPage #groupProfile {
	width: 150px;
	height: 150px;
	flex-shrink: 0;
	vertical-align: middle;
	object-fit: cover;
}

.groupScheduleUserImg {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	flex-shrink: 0;
	vertical-align: middle;
	object-fit: cover;
}
#groupPage #groupImgAndName {
	display: flex;
	flex-direction: row;
}

#groupPage input[type="checkbox"] {
	accent-color: #1E8A8A;
	margin-left: 15px;
}

.schedule_left {
	width: fit-content;
    margin-right: auto;
}

.schedule_right {
	width: fit-content;
    margin-left: auto;
}

.groupScheduleUnit {
	width: 450px;
	border: 1px solid #1E8A8A;
	background-color: #CFE9E7;
	border-radius: 12px;
	padding: 4px 4px;
}

.groupComment {
	display: flex;
	flex-direction: column;
}
.groupComment li {
    position: relative;
    padding-left: 24px;
}
.groupComment li::before {
	content: "";
	position: absolute;
	left: 6px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	background: url("/codeEffluve/img/arrow.png") no-repeat center;
	background-size: contain;
}

.groupScheduleUser {
	display: inline;
	margin-left: 5px;
	align-items: center;
}

.groupScheduleUserID {
	margin: auto 0;
	font-size: 12px;
}
.groupCommentTime {
	position: absolute;
	right: 5px;
	top: 3px;
	font-size: 13px;
	color: #888888;
}