@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

html {
	padding:0px 0px;
	height:100%;
}

body {
	width: 100%;
	margin: 0 auto;
	background-color: white;
	padding-top: 20px;
	padding-left: 60px;
	padding-right: 60px;
	box-sizing:border-box;
}

header {
	width: 100%;
	margin-bottom: 20px;
}

.indexMenu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.indexMenu a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-decoration: none;
}

.titleLogo {
	display: flex;
	justify-content: center;
  	align-items: center;
	margin: 0 auto;
	
}

.titleLogo img {
	width:120px;
	height: 120px;
}

header h1 {
	color: rgb(109, 16, 68);
	font-size: 80px;
	font-weight: 500;
	font-family: "Alex Brush", cursive;
	margin-block-start: 30px;
	margin-block-end: 30px;
}

header div {
	text-align: right;
	font-size: 15px;
	color: gray;
}

header nav {
	height: 30px;
	border-bottom: 2px solid rgb(109, 16, 68);
}

header nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-inline-start: 0px;
}

header nav li {
	list-style-type: none;
	align-items: center;
	width: 100%;
	text-align:center;
	height: 30px;
	font-size: 20px;
}

.selectedPage {
	background-color: rgb(109, 16, 68);
}
.selectedPage a {
	background-color: rgb(109, 16, 68);
	color: white !important;
}

header a {
	text-decoration: none;
	color: gray;
}

header nav a {
	color: rgb(109, 16, 68);
	font-weight: 500;
}

main {
	width: 100%;
}

section {
	width: 100%;
}

footer {
	margin-top: auto;
	padding-bottom: 20px;
	width: 100%;
	clear: both;
	padding-top: 10px;
	
}

.footerLogo {
	display:flex;
	justify-content: center;
	align-items: center;
	font-family: "Alex Brush", cursive;
	font-size: 40px;
	color: rgb(147,127,113);
	margin: 0 0;
}
footer img {
	width: 60px;
	height: 60px;
}

footer div {
	text-align: center;
	color: gray;
	font-size: 12px;
}