@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

html {
	padding:0px 0px;
	height:100%;
}
body {
	background: linear-gradient(#FFFDFE, #FFF6FA);
	width: 100%;
	margin: 0 auto;
	/*background-color: white;*/
	padding-top: 20px;
	padding-left: 60px;
	padding-right: 60px;
	box-sizing:border-box;
}

header {
	width: 100%;
	margin-bottom: 20px;
}

#leLogo2 {
	display: block;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 50px;
	width: 700px;
	height: auto;
}

.indexMenu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.indexMenu a {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
	font-weight: 500;
	background-color: white;
	box-shadow: 0 6px 15px rgba(0,0,0,0.05);
	color:rgb(109, 16, 68);
	border: 2px solid rgb(109, 16, 68);
	border-radius: 13px;
	width: 200px !important;
	height: 200px !important;
	margin: 10px 30px;
	margin-bottom: 110px;
}

.indexMenu a:hover {
	background-color: rgb(109, 16, 68);
	color: white;
	border-color: rgb(109, 16, 68);
	cursor: pointer;
}

.indexMenu a:hover img {
	filter: brightness(0) invert(1);
}

.indexMenu img {
	align-self: center;
	margin-bottom: 15px;
	width: 100px;
	height: 100px;
}

.titleLogo {
	display: flex;
	justify-content: center;
  	align-items: center;
	margin: 0 auto;
	
}

.titleLogo img {
	width:120px;
	height: 120px;
}

header h1 {
	color: rgb(109, 16, 68);
	font-size: 80px;
	font-weight: 500;
	font-family: "Alex Brush", cursive;
	margin-block-start: 30px;
	margin-block-end: 30px;
}

header div {
	text-align: right;
	font-size: 15px;
	color: gray;
}

header nav {
	height: 30px;
	border-bottom: 2px solid rgb(109, 16, 68);
}

header nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-inline-start: 0px;
}

header nav li {
	list-style-type: none;
	align-items: center;
	width: 100%;
	text-align:center;
	height: 30px;
	font-size: 20px;
}

.selectedPage {
	background-color: rgb(109, 16, 68);
}
.selectedPage a {
	background-color: rgb(109, 16, 68);
	color: white !important;
}

header a {
	text-decoration: none;
	color: gray;
}

header nav a {
	color: rgb(109, 16, 68);
	font-weight: 500;
}

#makeAccount form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#makeAccount h1 {
	text-align: center;
	color: rgb(109, 16, 68);
	font-size: 29px;
	
}

#makeAccount div {
	text-align: center;
	margin-bottom: 40px;
}

#makeAccount div img {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

#makeAccount img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

#makeAccount table {
	margin: 6px auto;
	background-color: white;
	border: 1px solid #AEAEAE;
	border-radius: 15px;
	width: 350px;
}

#makeAccount table td {
	border-bottom: 1px solid #AEAEAE;
	height: 50px;
	padding: 0 15px;               /* 왼오 여백만 */
    display: flex;                 /* 한 줄을 flex 컨테이너로 */
    align-items: center;
}

#makeAccount table tr:last-child td {
	border-bottom: none;
}

#makeAccount td input[type="text"],input[type="password"] {
	border: 0px solid #AEAEAE;
	font-size: 16px;
	flex: 1;
	padding: 0;
    background: transparent;
}

#makeAccount td input[type="text"],input[type="password"]:focus {
	outline: none;
}

#makeAccount input[type="submit"] {
	background-color: rgb(109, 16, 68);
	color: white;
	border: 0px;
	border-radius: 13px;
	width: 100px;
	height: 40px;
	font-size: 16px;
}

#makeAccount input[type="button"] {
	background-color: #E3E3E3;
	color: black;
	border: 0px;
	border-radius: 13px;
	width: 100px;
	height: 40px;
	font-size: 16px;
}

main {
	width: 100%;
}

section {
	width: 100%;
}

footer {
	display: block;
	margin-top: auto;
	padding-bottom: 20px;
	width: 100%;
	clear: both;
	padding-top: 10px;
	
}

.footerLogo {
	display:flex;
	justify-content: center;
	align-items: center;
	font-family: "Alex Brush", cursive;
	font-size: 40px;
	color: rgb(147,127,113);
	margin: 0 0;
}
footer img {
	width: 60px;
	height: 60px;
}

footer div {
	text-align: center;
	color: gray;
	font-size: 12px;
}