@charset "UTF-8";

/*myPageEdit.jsp*/
#myPageEdit h2 {
	text-align: center;
	margin: 40px 0px;
}

#editDiv {
	display: flex;
	flex-direction: row;
	align-items:flex-start;
	justify-content: center;
	gap: 0 ;
}

#editProfile {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#myPageEdit #profileImg {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
}

#myPageEdit input[type="file"] {
	display: flex;
	width: 200px;
	margin-top: 10px;
}

#myPageEdit input[type="file"]::file-selector-button {
  border: 1px solid #D8CDD2;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: #FAF7F9;
}
#myPageEdit table { 
    background-color: white;
    width: 500px;
	border-spacing: 0px;
    border: 1px solid #D8CDD2;
    border-radius: 15px;
    overflow: hidden;
}

#myPageEdit th, #myPageEdit td {
	padding: 10px; 
    border-bottom: 1px solid #D8CDD2;
}

#myPageEdit th {
	width: 150px;
	text-align: right;
	background-color: #FAF7F9;
	border-right: 1px solid #D8CDD2;
}

#myPageEdit tr:first-child th {
	background-color: #DDDDDD;
}
#myPageEdit tr:first-child td input {
	cursor: default;
}

#myPageEdit tr:last-child th,
#myPageEdit tr:last-child td {
    border-bottom: none;
}

#myPageEdit input[type="text"], #myPageEdit input[type="password"] {
	border: 0px;
	width: 100%;
	height: 100%;
	font-size: 16px;
}
#myPageEdit input[type="text"]:focus {
	outline: none;
}

#myPageEdit input[type="radio"] {
	accent-color: #1E8A8A;
}

#myPageEdit input[type="date"] {
	font-family:sans-serif;
	font-size: 16px;
	border: 1px solid #D8CDD2;
	padding-left: 10px;
	
	border-radius: 12px;
}

#myPageEdit input[type="submit"], #myPageEdit input[type="button"] {
	background-color: rgb(109, 16, 68);
	color: white;
	border: 0px;
	border-radius: 13px;
	width: 100px;
	height: 40px;
	font-size: 16px;
	cursor: pointer;
}

#editBtnDiv {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}
