@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

/* private.jsp */
.dateHeader {
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

#mORd {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 10px;
	bottom: 0px;
}

.dailyBtnSelected, .monthlyBtnSelected {
	box-sizing: border-box;
	width: 70px;
	height: 27px;
	background-color: #1E8A8A;
	color: white;
	border: 0px;
	border-radius: 10px;
	padding: 2px 6px;
	font-size: 15px;
	font-weight: 400;
	cursor: pointer;
}

.dailyBtn, .monthlyBtn {
	
	box-sizing: border-box;
	width: 70px;
	height: 27px;
	background-color: white;
	color: #1E8A8A;
	border: 1px solid #1E8A8A;
	border-radius: 10px;
	padding: 2px 6px;
	font-size: 15px;
	font-weight: 400;
	cursor: pointer;
}

.dailyBtnSelected, .dailyBtn{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.monthlyBtnSelected, .monthlyBtn {
	width: 90px !important;
	display:flex;
	align-items: center;
	gap: 3px;
	flex-direction: row;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.monthlyBtnSelected img {
	filter: brightness(0) invert(1);
}

.dateHeader a {
	text-decoration: none;
	color: #1E8A8A;
	margin: 5px;
}

.dateHeader h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 30px;
	gap: 1px;
	margin-block-start: 0px;
	margin-block-end: 0px;
}
.dateHeader img {
	padding-top: 2px;
	width: 29px;
	height: 29px;
}

.calendar-input {
    width: 1px;
    height: 1px;
    opacity: 0;      /* 완전히 투명 */
    border: 0;
    padding: 0;
    margin: 0;
    pointer-events: none; /* 클릭은 버튼으로만 */
}

/* 실제로 보이는 버튼 */
.calendar-btn {
    margin-left: 2px;
    
    width: 30px;
    height: 30px;
    display: inline;
    background-color: white;
	border: 0px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}

#schedule {
    display: flex;
}

.left-column {
	width: 60%;
	padding-right: 20px;
	border-right: 1px solid #D8CDD2;
}
.myschedule {
	width: 100%;
	height: 450px;
	box-sizing: border-box;
	background-color: #FAF7F9;
	border: 1px solid #D8CDD2;
	border-radius: 15px;
	padding: 15px;
	overflow-y: auto;
	scrollbar-width: none;
	box-shadow: 0px 0px 8px 2px #D8CDD2;
}

.myscheduleMonthly {
	width: 100%;
	height: 450px;
	box-sizing: border-box;
	background-color: #FAF7F9;
	border: 1px solid #D8CDD2;
	border-radius: 15px;
	overflow-y: auto;
	scrollbar-width: none;
	box-shadow: 0px 0px 8px 2px #D8CDD2;
	overflow: hidden;
}

#monthlyTable {
	width: 100%;
	height: 100%;
	border-spacing: 0px;
	table-layout: fixed;
}


#monthlyTable thead th {
	font-size: 14px;
	font-weight: 500;
	width: 14.285%;
	height: 20px;
	border-right: 1px solid #D8CDD2;
	border-bottom: 2px solid #D8CDD2;
}
#monthlyTable thead th:first-child {color: #D92A0D;}
#monthlyTable thead th:last-child {color: #4249DE;border-right:0px;}

#monthlyTable tbody td {
	position: relative;
	padding-top: 21px;
	border-right: 1px solid #D8CDD2;
	border-bottom: 1px solid #D8CDD2;
}

#dayNumA {
	position: absolute;
	top: 1px;
	left: 4px;
	font-size: 14px;
	text-decoration: none;
	color: black;
}



#monthlyTable tbody td div {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
}

#monthlyTable tbody td:last-child {
	border-right: 0;
}

#monthlyTable tbody tr:last-child td {
	border-bottom: 0;
}

#monthlyTable ul {
	padding-inline-start: 0px;
	margin-block-start: 0em;
    margin-block-end: 0em;
	list-style: none;
}

#monthlyTable li {
	display: flex;
	flex-direction: row;
	position: relative;
	height: 17px;
}


#monthlyTable li span:first-child {
	position: absolute;
	left: 3px;
	top: 0px;
}

#monthlyTable li a {
	padding-left: 40px;
	font-size: 12px;
	text-decoration: none;
	color: black;
	font-weight:450;
}

.todayCell {
	outline: 2px solid #1E8A8A;
	outline-offset: -1px;
}

#myscheduleOption {
	position: absolute;
	bottom: 0px;
	right: 10px;
	border: 1px solid #D8CDD2;
	padding: 5px 5px;
	border-radius: 8px;
}

.right-column {
	width: 40%;
	height: 530px;
	background-color: #FAF7F9;
	border: 1px solid #D8CDD2;
	border-radius: 15px;
	overflow: hidden;
	margin-left: 20px;
	display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px 2px #D8CDD2;
}


.myschedule ul {
	display: flex;
	flex-direction: column;
	padding-inline-start: 0px !important;
	gap: 20px;
}

.myschedule .myScheduleUnit {
	box-sizing: border-box;
	list-style-type: none;
	border: 1px solid #6D1044;
	border-radius: 15px;
	height: 40px;
	background-color: white;
	overflow: hidden;
	
}

.myschedule .myScheduleUnit_selected {
	box-sizing: border-box;
	list-style-type: none;
	border: 1px solid #6D1044;
	outline: 2px solid #6D1044;
	border-radius: 15px;
	height: 40px;
	background-color: white;
	overflow: hidden;
	box-shadow: 0px 0px 10px 5px #D8CDD2;
}
.myschedule form {
	display: flex;
	height: 100%;
}
.myschedule .myScheduleUnit_selected #schedule_a {
	font-size: 19px;
}

.myschedule .myScheduleUnit_selected #schedule_a span:last-child,
.myschedule .myScheduleUnit #schedule_a span:last-child {
	
	white-space: nowrap;
 	overflow: hidden;
	text-overflow: ellipsis;
}

.myschedule .myScheduleUnit:hover {
	box-sizing: border-box;
	border: 1px solid #6D1044;
	outline: 2px solid #6D1044;
	box-shadow: 0px 0px 10px 5px #D8CDD2;
}

.myschedule .myScheduleUnit:hover #schedule_a {
	font-size: 19px;
}

.myschedule li div:first-child {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

input[type="checkbox"] {
	accent-color: #1E8A8A;
	margin-left: 15px;
}
#schedule_a {
	border-left: 1px solid #D8CDD2;
	display: flex;
	flex: 0 1 20%;
    min-width: 0;
	height: 100%;
	padding-left: 10px;
	align-items: center;
	color: black;
	font-size: 17px;
	font-weight: 500;
}

#schedule_time {
	display: flex;
	width: 70px;
	height: 100%;
	align-items: center;
	padding-left: 10px;
	color: black;
	font-size: 17px;
}

#memo_span {
	height: 100%;
	flex: 0 1 20%;
	padding-top: 6px;
	border-left: 1px solid #D8CDD2;
	padding-left: 15px;
	align-items: center;
	white-space: nowrap;
 	overflow: hidden;
	text-overflow: ellipsis;
}
#shares_div {
	display: flex;
	justify-content: center;
	width: 25%;
	height: 100%;
	align-items: center;
}

#shares_div div {
	width: 33%;
	height: 100%;
	display: flex;
	border-left: 1px solid #D8CDD2;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #F9F9F9;
}

#shares_div a {
	display: flex;
	justify-content: center;
	width: 100%;
	text-decoration: none;
	color: black;
}
#publicUnitBtn_selected, #publicUnitBtn:hover {
	background-color: #7E9AD9 !important;
	
}

#privateUnitBtn_selected, #privateUnitBtn:hover {
	background-color: #8FAF9A !important;
}

#groupUnitBtn_selected, #groupUnitBtn:hover {
	background-color: #B79AD7 !important;
}

.groupList_div_disabled {
	display: flex;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #D8CDD2;
	border-right: 1px solid #D8CDD2;
	width: 20%;
	height: 100%;
	align-items: center;
	background-color: #F9F9F9;
}

.groupList_div {
	display: flex;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #D8CDD2;
	border-right: 1px solid #D8CDD2;
	width: 20%;
	height: 100%;
	align-items: center;
	background-color: #D6CAE4;
}

.groupList_div #group {
	width: 100px;
 	box-sizing: border-box;
	background-color: #D6CAE4;
	border: 1px solid #B79AD7;
	border-radius: 8px;
	padding: 3px;
	margin-right: 5px;
	white-space: nowrap;
 	overflow: hidden;
	text-overflow: ellipsis;
}

.groupList_div_disabled #group {
	width: 100px;
 	box-sizing: border-box;
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	border-radius: 8px;
	padding: 3px;
	margin-right: 5px;
	white-space: nowrap;
 	overflow: hidden;
	text-overflow: ellipsis;
}

.groupListChangeBtn {
	padding: 3px 7px;
	font-size: 14px;
	background-color: #B79AD7;
	border: 0px;
	border-radius: 8px;
	cursor: pointer;
}

.groupListChangeBtn:disabled {
	background-color: #EBEBEB;
}

#deleteUnitBtn_a {
	height: 100%;
	width: 2%;
	display: flex;
	align-items: center;
	padding-right: 15px;
	padding-left: 15px;
	color: #6D1044;
	text-decoration: none;
	background-color: white;
}
#deleteUnitBtn_b {
	color: #6D1044;
	text-decoration: none;
	align-items: right;
}

.right-column .h3Div {
	display: flex;
	flex-direction: rox;
	justify-content: space-between;
    background-color: #FAF7F9;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #D8CDD2;
    padding-left: 20px;
    padding-right: 20px;
}

.right-column h3 {
    margin: 0px;
}

.right-column .h3Div input[type="submit"], 
.right-column .h3Div input[type="reset"],
.right-column .h3Div input[type="button"] {
	background-color: #1E8A8A;
	color: white;
	border: 0px;
	border-radius: 8px;
	cursor: pointer;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

.add-schedule {
	display: block;
	width: 100%;
	background-color: white;
	flex: 0 0 auto;
}

.scheduleAddTable {
	border-spacing: 0px;
	width: 100%;
}
.scheduleAddTable th {
	background-color: #FAF7F9;
	width: 85px;
	font-weight: 500;
	text-align: right;
	padding: 5px;
	border-right: 1px solid #D8CDD2;
	border-bottom: 1px solid #D8CDD2;
}

.scheduleAddTable td {
	background-color: white;
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid #D8CDD2;
}

.scheduleAddTable td input[type="text"] {
	width: 100%;
	height: 100%;
	border: 0px;
	font-size: 16px;
}
.scheduleAddTable td input[type="text"]:focus {
	outline: none;
}
.scheduleAddTable td textarea {
	width: 100%;
	height: 100%;
	border: 0px;
	font-size: 16px;
	font-family: sans-serif;
	resize: none;
}
.scheduleAddTable td textarea:focus {
	outline: none;
}

.scheduleAddTable td input[type="date"] {
	flex: 1 1 0;
	height: 100%;
	font-size: 16px;
	border: 0px;
	font-family: sans-serif;
	border-right: 1px solid #D8CDD2;
	padding-right: 10px;
}
.scheduleAddTable td input[type="time"] {
	flex: 1 1 0;
	height: 100%;
	font-size: 16px;
	border: 0px;
	font-family: sans-serif;
	padding-left: 10px;
}

.scheduleAddTable td input[type="radio"] {
	margin-left: 15px;
	accent-color: #1E8A8A;
}

.scheduleAddTable td input[type="radio"]:first-child {
	margin-left: 0px;
}

.scheduleAddTable #groupSel {
	margin-left: 5px;
	display: flex;
	width: 100px;
	height: 25px;
	box-sizing: border-box;
	border:	1px solid #1E8A8A;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.scheduleAddTable #groupSel:disabled {
	border: 1px solid #888888;
}

#creategroup {
	background-color: #1E8A8A;
	color: white;
	border: 0px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	cursor: pointer;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

#creategroup:disabled {
	background-color: #888888;
	cursor: default;
}

#searchgroup:disabled {
	background-color: #888888;	
}

#schedule #privateListCommentUnit {
  	list-style: none !important;
  	border-bottom: 1px solid #D8CDD2;
  	padding: 8px 7px;
}

#schedule .comments ul li:last-child {
	border-bottom: 0px;
}
#schedule .comments ul {
	margin-block-end: 0px;
	margin-block-start: 0px;
	padding-inline-start:0px;
}

#schedule .comments h3 {
	flex: 0 0 40px;
    margin: 0px;
    background-color: #FAF7F9;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #D8CDD2;
    border-bottom: 1px solid #D8CDD2;
}

#schedule .comments {
	background-color: white;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;   /* right-column 남는 높이 전부 차지 */
    min-height: 0;
}
#schedule #commentProfile {
	width: 25px;
	height: 25px;	
	border-radius: 50%;
	flex-shrink: 0;
	vertical-align: middle;
	object-fit: cover;
	margin-right: 5px; 
	margin-left: 5px;
}

#schedule #profile_id_time {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#schedule #commentId {
	font-weight: 500;
	font-size: 14px;
	align-self: flex-start;
}

.commentRow {
    display: flex;
    align-items: flex-end;   /* 시간 위쪽에 맞추고 싶으면 */
}

#schedule #commentTime {
    flex: 0 0 auto;           /* ← 더 이상 늘어나지 않게 */
    margin-left: 8px;
    color: #888888;
    font-size: 12px;
    white-space: nowrap;      /* 시간은 한 줄 유지 */
}

#schedule #commentMessage {
    flex: 1 1 auto;           /* ← 왼쪽이 쭉 늘어나는 애 */
    margin-left: 40px;        /* 지금 쓰던 들여쓰기 유지 */
    margin-right: 8px;
    padding: 0;
    font-size: 15px;
    white-space: normal;
    overflow-wrap: anywhere;
}

#schedule #commentList {
	flex: 1 1 auto;
	overflow-y: auto;
	scrollbar-width: none;
    min-height: 0;
    padding-left: 5px;
    padding-right: 5px;
}

#schedule .writeComment {
	background-color: #FAF7F9;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 0px -3px 15px #E7E1E4;
	/*border-top: 1px solid #D8CDD2;*/
	margin-bottom: 0px;
	margin-top: auto; 	
    padding: 7px 7px;
}
#schedule .writeComment form  {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#schedule .writeComment form span {
	padding-right: 0px;
	color: #1E8A8A;
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 2px;
	padding-right: 7px;
}

#schedule .writeComment input[type="text"] {
	display: flex;
	box-sizing: border-box;
	border: 1px solid #1E8A8A;
	border-radius: 5px;
	width: 75%;
	height: 28px;
	font-size: 15px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow-y: auto;
	scrollbar-width: none;
}

#schedule .writeComment .disabledMessage {
	border: 1px solid #888888 !important;
}

#schedule .writeComment input[type="text"]:focus {
	outline: none;
}

#schedule .writeComment input[type="submit"] {
	display: flex;
	box-sizing: border-box;
	border: 1px solid #1E8A8A;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #1E8A8A;
	color: white;
	width: 50px;
	height: 28px;
	font-size: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
	cursor: pointer;
}

#schedule .writeComment .disabledSubmit {
	border: 1px solid #888888 !important;
	background-color: #888888 !important;
	cursor:context-menu !important;
}

.delComment {
	text-decoration: none;
	cursor: pointer;
	color: #6D1044;
	margin-right: 10px;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: auto;
}