@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

html {
	padding:0px 0px;
	height:100%;
}
body {
	background: linear-gradient(#FFFDFE, #FFF6FA);
	width: 100%;
	height: 100%;
	margin: 0 auto;
	/*background-color: white;*/
	padding-top: 20px;
	padding-left: 60px;
	padding-right: 60px;
	box-sizing:border-box;
}

header {
	width: 100%;
	/*margin-bottom: 20px;*/
}
/*public.jsp*/
#public {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

#publicListArea {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding-right: 20px;
	border-right: 1px solid #D8CDD2;
	justify-content: center;
	
}

#publicListArea div {
	overflow-y: auto;
	height: 410px;
	background-color: #FAF7F9;
	border: 1px solid #D8CDD2;
	border-radius: 30px;
	padding: 20px 0;
	scrollbar-width: none;
	box-shadow: 0px 0px 8px 2px #D8CDD2;
}

#publicListArea h1 {
	text-align: center;
}

#publicListArea ul {
	margin: 0;
	padding-left: 0px;
	display: flex;
	flex-direction: column;
	gap:15px;
}

.publicListUnit {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	width: 80%;
	height: 50px;
	border: 2px solid #1E8A8A;
	border-radius: 20px;
	background-color: #CFE9E7;
	list-style-type: none;
	margin: 0 auto;
	
}
.publicListUnit:hover {
	display: block;
	border-width: 2px;                 /* ✅ 두께 고정 */
  	border-color: #7E4746;             /* 기본색 유지하거나 */
  	outline: 2px solid #7E4746;        /* ✅ 굵은 테두리처럼 보이게 */
  	outline-offset: 0;  
	background-color: #FAF7F4;
	box-shadow: 3px 3px 5px #888888;
}
.publicListUnit_selected {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	width: 80%;
	height: 50px;
	border: 4px solid #7E4746;
	border-radius: 20px;
	background-color: #FAF7F4;
	list-style-type: none;
	margin: 0 auto;
	box-shadow: 3px 3px 5px #888888;
}
.publicListUnit_selected a {
	display: flex;
  	align-items: center;
	width: 100%;
	height: 100%;
	color: #7E4746;
	font-size: 19px;
	text-decoration: none;
	font-weight: 500;
}

.publicListUnit a {
	display: flex;
  	align-items: center;
	width: 100%;
	height: 100%;
	color: black;
	font-size: 19px;
	text-decoration: none;
}

.publicListUnit a:hover {
	color: #7E4746;
	font-weight: 500;

}

#emptyLists {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	font-size:18px;
	box-shadow: none !important;
}

.publicListCommentUnit {
	display: list-item;
	flex-direction: column;
}

#profile_id_time {
	display: flex;
}

#commentArea {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	width: 40%;
	height: 540px;
	background-color: white;
	border: 1px solid #D8CDD2;
	border-radius: 15px;
	margin-left: 20px;
	box-shadow: 0px 0px 8px 2px #D8CDD2;
}



#commentArea ul {
	display: flex;
	flex-direction: column;
  	margin: 0;
  	margin-left: 15px;
  	margin-right: 15px;
  	padding-left: 0;
  	gap: 15px;
}



#publicListCommentUnit {
  	list-style: none !important;
  	position: relative;
  	padding-left: 28px;
  	border-bottom: 1px solid #D8CDD2;
}

#commentArea ul li:last-child {
	border-bottom: 0px;
}

#commentArea ul li:first-child {
	margin-top: 15px;
}

#publicListCommentUnit::before {
	content: "";
	position: absolute;
	left: 6px;
	top: 10px;
	transform: translateY(-50%);
	width: 17px;
	height: 17px;
	background: url("/codeEffluve/img/arrow.png") no-repeat center;
	background-size: contain;
}

#commentProfile {
	width: 40px;
	height: 40px;	
	border-radius: 50%;
	flex-shrink: 0;
	vertical-align: middle;
	object-fit: cover;
	margin-right: 10px; 
	margin-left: 5px;
}

#profile_id_time {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#commentArea h2 {
	flex: 0 0 60px;
	margin: 0px;
	background-color: #FAF7F9;
	padding-left: 20px;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #D8CDD2;
	box-shadow: 0px 3px 15px #E7E1E4;
}

#commentId {
	font-weight: 500;
	font-size: 15px;
	align-self: flex-start;
}

#commentTime{
	color: #888888;
	font-size: 13px;
}

.delComment {
	text-decoration: none;
	cursor: pointer;
	color: #6D1044;
	margin-right: 10px;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: auto;
}

#commentMessage{
	display: block;
	margin-left: 54px;
	padding-top: 4px;
	padding-bottom: 10px;
	font-size: 17px;
	
	white-space: normal;
  	overflow-wrap: anywhere;
}

.writeComment {
	background-color: #FAF7F9;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	/*border-top: 1px solid #D8CDD2;*/
	box-shadow: 0px -3px 15px #E7E1E4;
	margin-bottom: 0px;
	margin-top: auto; 	
	padding: 10px 10px;
}

#commentList {
	overflow-y: auto;
	scrollbar-width: none;
}
.writeComment form  {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#public .writeComment form span {
	display: flex;
	box-sizing: border-box;
	width: 50px;
	padding-right: 0px;
	color: #1E8A8A;
	font-weight: 600;
	font-size: 17px;
	padding-bottom: 2px;
	text-align: right;
}

.writeComment input[type="text"] {
	display: flex;
	box-sizing: border-box;
	border: 1px solid #1E8A8A;
	border-radius: 5px;
	width: 75%;
	height: 35px;
	font-size: 17px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow-y: auto;
	scrollbar-width: none;
}

.writeComment input[type="text"]:focus {
	outline: none;
}

.writeComment input[type="submit"] {
	display: flex;
	box-sizing: border-box;
	border: 1px solid #1E8A8A;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #1E8A8A;
	color: white;
	width: 60px;
	height: 35px;
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	cursor: pointer;
}

/* friend.jsp */
#friend {
	display: flex;
}

#friendsArea {
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	border-right: 1px solid #D8CDD2;
	justify-content: center;
	width: 25%;
}

#chatArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 75%;
	margin-left: 20px;
}

#friendsDiv {
	overflow-y: auto;
	width: 100%;
	height: 450px;
	background-color: #FAF7F9;
	border: 1px solid #D8CDD2;
	border-radius: 15px;
	scrollbar-width: none;
	box-shadow: 0px 0px 8px 2px #D8CDD2;
}

#chatDiv {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 540px;
	background-color: white;
	border: 1px solid #D8CDD2;
	border-radius: 15px;
	box-shadow: 0px 0px 8px 2px #D8CDD2;
	overflow: hidden;
}

#messageDivv {
	width: 100%;
	overflow-y: auto !important;
	scrollbar-width: none;
}
#chatDiv h2 {
	flex: 0 0 60px;
	height: 60px;
	line-height: 60px;
	box-shadow: 0px 3px 15px #E7E1E4;
	background-color: #FAF7F9 !important;
	margin-block-start: 0em;
    margin-block-end: 0em;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #D8CDD2;
}

#friendsDiv ul {
	margin-block-start: 0em;
    margin-block-end: 0em;
	padding-inline-start: 0px;
	list-style: none;
	background-color: white;
	width: 100%;
	flex-shrink: 1;
}

#friendsDiv li {
	display: flex;
	align-items: center;
}
#friendsDiv li span {
	margin: auto 0;
}

#friendProfile {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.todayDiv {
	display: flex;
	flex-direction: column;
}

.todayDiv ul {
	display: flex;
	flex-direction: column;
  	margin: 0;
  	margin-left: 15px;
  	margin-right: 15px;
  	padding-left: 0;
  	gap: 15px;
  	list-style: none;
}

.todayDiv .leftChat {
	display: flex;
    align-items: flex-end;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 10px;
    gap: 8px;
}

.chatingProfile {
	width: 36px;
    height: 36px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.leftChat #messageUnit {
	display: inline-block;
    border: 1px solid #1E8A8A;
    border-radius: 19px;
    max-width: 500px;
    word-break: break-word;
    padding: 5px 13px;
    background-color: #ffffff;
}

.leftChat #chattimeUnit {
	font-size: 11px;
    color: #777777;
    align-self: flex-end;
}

.todayDiv .rightChat {
	display: flex;
    align-items: flex-end;
    margin-left: auto;
	margin-right: 0;
	margin-bottom: 10px;
	gap: 8px;
}

.rightChat #messageUnit {
	background-color: #1E8A8A;
	border-radius: 19px;
    max-width: 500px;
	word-break: break-word;
    padding: 5px 13px;
    color: white;
}
.rightChat #chattimeUnit {
	font-size: 11px;
    color: #777777;
    align-self: flex-end;
}

#chatDiv h3 {
	margin: 10px auto;
	text-align:center;
	background-color: #DDDDDD;
	border: 0px;
	border-radius: 10px;
	width: 180px;
	font-size: 14px;
	font-weight: 500;
}

#writeChatDiv {
	background-color: #FAF7F9;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 0px -3px 15px #E7E1E4;
	margin-bottom: 0px;
	margin-top: auto; 	
	padding: 10px 10px;
}

#writeChatDiv form  {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#writeChatDiv form span {
	display: flex;
	box-sizing: border-box;
	width: 50px;
	padding-right: 0px;
	color: #1E8A8A;
	font-weight: 600;
	font-size: 17px;
	padding-bottom: 2px;
	text-align: right;
}

#writeChatDiv input[type="text"] {
	display: flex;
	box-sizing: border-box;
	border: 1px solid #1E8A8A;
	border-radius: 5px;
	width: 75%;
	height: 35px;
	font-size: 17px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow-y: auto;
	scrollbar-width: none;
}

#writeChatDiv input[type="text"]:focus {
	outline: none;
}

#writeChatDiv input[type="submit"] {
	display: flex;
	box-sizing: border-box;
	border: 1px solid #1E8A8A;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #1E8A8A;
	color: white;
	width: 60px;
	height: 35px;
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	cursor: pointer;
}

/* findFriend.jsp */

#findResultDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#findResultDiv img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
}