@charset "UTF-8";
h2{
	text-align:center;
}

#searchGroupDiv {
	border-bottom: 1px solid #D8CDD2;
	padding-bottom: 25px;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#searchGroupDiv div {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#searchGroupDiv input[type=submit]{
	background-color: rgb(109, 16, 68);
    color: white;
    cursor: pointer;
    border: 0px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 15px;
    height: 25px;
    padding-left: 6px;
    padding-right: 10px;
}

input[type=button]{
	height: 25px;
	background-color: #6D1044;
	color: white;
	border: 0px;
	border-radius: 15px;
	cursor: pointer;
}

input[type="text"] {
	border: 1px solid #D8CDD2;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    width: 80%;
    height: 25px;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 16px;
}
input[type="text"]:focus {
	outline: none;
}

#groupListDiv {
	width: 100%;
	height: 350px;
	overflow-y: auto;
	scrollbar-width: none;
}

table{
	width: 100%;
	border-spacing: 0px;
	border-radius: 8px;
}

th{
	border-top: 2px solid #D8CDD2;
	border-bottom: 2px solid #D8CDD2;
	background-color: #FAF7F9;
}

td{
	border-bottom: 1px solid #D8CDD2;
	background-color: white;
	text-align: center;
}